parameters:
    level: 8
    paths:
        - src/

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/MonsieurBizSyliusAntiSpamExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
